
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebApplication3.Models.Quote

@Html.HiddenFor(m => m.Id, new { @id = "QuoteId" })
<div class="row">
    <div class="col-md-12">
        @Html.Partial("PartialViews/_GetQuoteDetails", Model)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("../Users/PartialViews/_AddUserToQuote")
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="loadUsers">
    </div>
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ApplicationScripts/DatePicker.js"></script>
    <script src="~/Scripts/ApplicationScripts/LoadQuoteUsers.js"></script>

}

